:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayish: hsl(220, 16%, 96%);
  --veryLight: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --wrapperSpace: 25px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  font-size: 1.8rem;
}

body .wrapper {
  padding: 0 20px;
}

.icon-online span {
  display: block;
  width: 100px;
  height: 80px;
  margin: 0 auto;
  background: url(../../images/icon-online.svg) no-repeat center;
}

.icon-budget span {
  display: block;
  width: 100px;
  height: 80px;
  margin: 0 auto;
  background: url(../../images/icon-budgeting.svg) no-repeat center;
}

.icon-onboarding span {
  display: block;
  width: 100px;
  height: 80px;
  margin: 0 auto;
  background: url(../../images/icon-onboarding.svg) no-repeat center;
}

.icon-api span {
  display: block;
  width: 100px;
  height: 80px;
  margin: 0 auto;
  background: url(../../images/icon-api.svg) no-repeat center;
}

.header-container {
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header img {
  height: 22px;
  width: auto;
}

.header-menu {
  width: 30px;
  background: url(../../images/icon-hamburger.svg) no-repeat center;
}

.header-background {
  display: inline-block;
  width: 375px;
  height: 300px;
  background: url(../images/image-mockups.png) bottom no-repeat, url(../images/bg-intro-mobile.svg) center no-repeat;
  background-size: 345px, cover;
  margin-bottom: 1rem;
}

.hero, .features .feature__main_tittle, .features .feature__box {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 10rem;
  padding: 0 var(--wrapperSpace);
}

.hero h1, .features .feature__main_tittle h1, .features .feature__box h1, .hero h2, .features .feature__main_tittle h2, .features .feature__box h2 {
  font-size: 3.5rem;
  margin: 16px;
  font-weight: 500;
  color: var(--darkBlue);
}

.hero p, .features .feature__main_tittle p, .features .feature__box p {
  font-size: 1.4rem;
  margin-bottom: 40px;
  line-height: 2.5rem;
  color: var(--grayishBlue);
}

.hero .button, .features .feature__main_tittle .button, .features .feature__box .button {
  padding: 12px 30px;
  font-size: 1.6rem;
  border-radius: 18px;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--limeGreen)), to(var(--brightCyan)));
  background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.features {
  background-color: var(--veryLight);
  padding: 0 var(--wrapperSpace);
}

.features .feature__main_tittle h2 {
  font-size: 3rem;
}

.features .feature__box h1 {
  font-size: 2rem;
  font-weight: 400;
}

.articule {
  background: var(--lightGrayish);
  text-align: center;
  padding: var(--wrapperSpace);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articule-tittle {
  font-size: 3rem;
  font-weight: 400;
  color: var(--darkBlue);
  margin-top: 50px;
  margin-bottom: 25px;
}

.articule__container {
  width: 99%;
  height: auto;
  margin: 0 auto;
  text-align: left;
  padding-top: 5px;
  margin-bottom: 50px;
  color: var(--grayishBlue);
}

.articule__container img {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
}

.articule__container .box-content {
  background-color: var(--white);
  padding: 30px;
  padding-top: 15px;
}

.articule__container sub {
  font-size: 1rem;
}

.articule__container h4 {
  margin-top: 10px;
  font-size: 1.6rem;
  margin-bottom: 15px;
  font-weight: 400;
  color: var(--darkBlue);
}

.articule__container p {
  margin-top: -5px;
  font-size: 1.2rem;
  font-weight: 300;
}

footer {
  border: blue solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo {
  display: inline-block;
  width: 200px;
  height: 50px;
  background: url(../../images/logo.svg) center;
  background-repeat: no-repeat;
  border: blue solid 1px;
}

footer .footer__container_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=main.css.map */