.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkBlue);
    color: var(--white);

    svg{
        margin-top: 30px;
    }
    &__icons{
        display: flex;
        justify-content: space-evenly;
        width: 50%;
    }
    &-menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;

        a{
            text-decoration: none;
            color: var(--white);
            font-size: 1.2rem;
            margin-bottom: 15px;
        }
    }
    &-botton-container{
        margin-top: 20px;
    }
    &__finalText{
        font-size: 1.2rem;
        margin-top: 30px;
        margin-bottom: 30px;
        color: var(--grayishBlue);
    }
}