:root{
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayish: hsl(220, 16%, 96%);
    --veryLight: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --wrapperSpace: 25px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    font-size: 1.8rem;
    .wrapper{
        padding: 0 20px;
    }
}
// Icons located in Articules
$icons:(
online: url(../../images/icon-online.svg),
budget: url(../../images/icon-budgeting.svg),
onboarding: url(../../images/icon-onboarding.svg),
api: url(../../images/icon-api.svg)
);

@each $name, $icon in $icons {
    .icon-#{$name}{
        span{
            display: block; 
            width: 100px;
            height: 80px;
            margin: 0 auto;
            background: $icon no-repeat center;
        }
    }
}