:root{
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayish: hsl(220, 16%, 96%);
    --veryLight: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --wrapperSpace: 25px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    font-size: 1.8rem;
    .wrapper{
        padding: 0 20px;
    }
}
.button{
    padding: 12px 30px;
    font-size: 1.4rem;
    border-radius: 18px;
    background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
    color: white;
    text-decoration: none;
    font-weight: 400;
}

// Icons located footer Social Media
$iconsSocial:(
fb: url(../../images/icon-facebook.svg),
yt: url(../../images/icon-youtube.svg),
tw: url(../../images/icon-twitter.svg),
pt: url(../../images/icon-pinterest.svg),
in: url(../../images/icon-instagram.svg)
);

// Icons located in Articules
$icons:(
online: url(../../images/icon-online.svg),
budget: url(../../images/icon-budgeting.svg),
onboarding: url(../../images/icon-onboarding.svg),
api: url(../../images/icon-api.svg)
);

// Icons from Articules
@each $name, $icon in $icons {
    .icon-#{$name}{
        span{
            display: block; 
            width: 100px;
            height: 80px;
            margin: 0 auto;
            background: $icon no-repeat center;
        }
    }
}

// Footer icons social media

@each $name, $icon in $iconsSocial {
    .footer_icons-#{$name}{

        display: block;
        width: 50px;
        height: 50px;
        background: $icon center no-repeat;
        margin-top: 10px;
    }
}